@import '../../../../../responsive.scss';

.ant-table-cell {
  border-bottom: 1px solid #38383c !important;
  &::before {
    background-color: #11122e !important;
  }
}

.ant-table {
  background: #05061c !important;
  table {
    overflow: hidden;
    border-radius: 8px !important;
  }
}

.ant-table-cell-row-hover {
  background: #11123e !important;
}

.ant-table-row :hover {
  background: #11123e !important;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td {
  background: #11123e !important;
}

.table-tx {
  background: #11122e;
  border-radius: 16px;
  margin-top: 60px;
  .head {
    padding: 19px 0;
    color: #fff;
    font-family: 'ChakraPetch-Medium';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px; /* 150% */
    text-transform: capitalize;
    border-bottom: 1px solid #38383c;
    overflow: scroll;
    width: 100%;
  }

  .record {
    color: #fff;
    font-family: 'ChakraPetch-Regular';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 150% */
    text-transform: capitalize;
    border-bottom: 1px solid #38383c;
  }
}
