@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.input-box {
  margin-bottom: 0;
  .ant-typograp hy {
    margin-bottom: 4px;
  }
  .input-default {
    height: 32px;
    border: 1px solid #646464;
    border-radius: 12px;
    width: 100%;
    background: transparent;
    input {
      color: #fff;
      font-size: $font-size-3;
      background: transparent;
      &::placeholder {
        color: #646464 !important;
      }
    }

    &:hover {
      border: 1px solid #646464;
    }

    .ant-input-prefix {
      margin-inline-end: 8px;
    }
  }
  .ant-form-item-required {
    &::before {
      display: none !important;
    }
  }
}
