@import '../../../../responsive.scss';

.projects-section {
  // background: #05061C !important;
  @include maxWidth($mobile) {
    padding-bottom: 50px;
    padding-top: 100px;
  }
  .layout {
    max-width: 1440px;
    margin: auto;
    @media only screen and (max-width: 1440px) {
      padding: 0 80px;
    }
    @include maxWidth($tablet) {
      padding: 20px 20px;
    }
  }
  .title-1 {
    font-size: 40px;
    margin-top: 50px;
    @include maxWidth($mobile) {
      margin-top: 0px;
    }
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
  }
  .description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #cecece;
    max-width: 560px;
    margin: auto;
    margin-bottom: 60px;
  }
  .list-card {
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    .slick-dots {
      bottom: -45px;
    }
    @include maxWidth($mobile) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
  .slick-arrow::before {
    display: none !important;
  }

  .slick-arrow {
    margin-top: -45px;
  }

  .slick-prev {
    margin-left: -20px;
  }
}
