@import 'src/assets/scss/variable.scss';
@import 'src/assets/scss/responsive.scss';

.custom-tab {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  @media (min-width: $screen-lg) {
    padding: 0;
  }

  .ant-tabs-tab.ant-tabs-tab-active:not(:first-child) {
    border-left: 2px solid #211860 !important;
    border-top-left-radius: 0 !important;
  }
  .ant-tabs-nav-list {
    width: 100%;
    .ant-tabs-tab {
      width: 100%;
      border: none;
      display: flex;
      justify-content: center;
    }
    .ant-tabs-tab.ant-tabs-tab-active {
      background-color: #3f2aa550 !important;
    }
    .ant-tabs-tab:first-child.ant-tabs-tab-active {
      border-right: 2px solid #211860 !important;
      border-top-right-radius: 0 !important;
    }
  }

  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: #ffffff !important;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  .ant-tabs-tab-btn {
    color: #93939b !important;
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    @media (max-width: $screen-sm) {
      font-size: 16px;
    }
  }
  .ant-tabs-ink-bar {
    background: var(--tab-button-text-active-color, $color-neutral-neutral-1);
    height: 3px !important;
  }

  .ant-tabs-nav {
    &::before {
      border-bottom: 1px solid #38383c;
    }

    margin: 0;
  }

  .ant-tabs {
    width: 100%;
  }
}
