@import 'src/assets/scss/variable.scss';

.custom-tab {
  display: flex;
  justify-content: center;
  padding: 0 16px;
  @media (min-width: $screen-lg) {
    padding: 0;
  }

  .ant-tabs-tab:not(:first-child) {
    margin-left: 48px !important;
  }

  .ant-tabs-tab-active {
    .ant-tabs-tab-btn {
      color: var(--tab-button-text-active-color, $color-neutral-neutral-1) !important;
    }
  }

  .ant-tabs-tab-btn {
    color: var(--tab-button-text-color, $color-neutral-neutral-4);
    font-family: 'Hind-SemiBold';
    font-size: 18px;
  }
  .ant-tabs-ink-bar {
    background: var(--tab-button-text-active-color, $color-neutral-neutral-1);
    height: 3px !important;
  }

  .ant-tabs-nav {
    &::before {
      border-bottom: 1px solid var(--tab-border-bottom-color, $color-neutral-neutral-5);
    }

    margin: 0;
  }

  .ant-tabs {
    width: 100%;
  }
}
