@import '../../../../responsive.scss';

.project-matrix {
  // background: #05061c;
  .layout {
    // padding: 120px 64px 64px 80px;
    max-width: 1440px;
    margin: auto;
    margin-top: 120px;
    @media only screen and (max-width: 1440px) {
      padding: 0 64px;
    }
    @include maxWidth($tablet) {
      padding: 10px 20px;
    }
  }
  .header {
    text-align: center;
    .label {
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
      color: #ffffff;
      margin-bottom: 60px;
      @include maxWidth($tablet) {
        margin-bottom: 20px;
        font-size: 40px;
      }
    }
    .input-search {
      width: 380px;
      .anticon-search {
        color: #ffffff;
      }
      .ant-input-group-addon {
        border: 1px solid #64646c;
        border-right: none;
      }
      .ant-input {
        border: 1px solid #64646c;
        background: transparent;
        color: #ffffff;
        height: 40px;
        border-left: none;
        &::placeholder {
          color: #93939b;
        }
      }
    }
  }
  .paging {
    display: flex;
    padding-left: 20px;
    gap: 8px;
    @include maxWidth($mobile) {
      max-height: 38px;
    }
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 16px;
      display: inline-block;
      border-radius: 12px;
      border: 1px solid var(--neutral-white, #fff);
      cursor: pointer;
      height: fit-content;
      @include maxWidth($mobile) {
        height: 38px;
      }
      &:hover {
        opacity: 0.85;
      }
    }
    .disabled svg {
      border: 1px solid #64646c;
      color: #64646c;
      opacity: 1;
      cursor: not-allowed;
    }
    .page-size {
      height: fit-content;
      color: #dbdbde;
      margin: 0 20px;
      opacity: 0.5;
      line-height: 24px;
      .current-page {
        font-size: 36px;
      }
      .max-page {
        font-size: 16px;
      }
    }
    @include maxWidth($tablet) {
      top: -50px;
      left: -15px;
      svg {
        padding: 6px;
      }
      .page-size {
        margin: 0 5px;
      }
    }
  }
}
