@import '../../../../responsive.scss';

.bottom {
  background: #030407;
  border-bottom: 1px solid #ffffff;
  .layout-bottom {
    .logo-bottom {
      padding-top: 120px;
      @include maxWidth($mobile) {
        padding-top: 0px;
      }
    }
    margin: auto;
    max-width: 1440px;
    @media only screen and (max-width: 1440px) {
      padding: 0 64px;
    }
    @include maxWidth($tablet) {
      padding: 20px 30px;
    }
    .text-custom {
      background: -webkit-linear-gradient(90deg, #ef40ea 0%, #12def6 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      margin-right: 20px;
    }
  }
  .input-search {
    width: 380px;
    .anticon-search {
      color: #ffffff;
    }
    .ant-input-group-addon {
      border: 1px solid #64646c;
      border-left: none;
    }
    .ant-input {
      border: 1px solid #64646c;
      background: transparent;
      color: #ffffff;
      height: 52px;
      border-right: none;
      &::placeholder {
        color: #93939b;
      }
    }
  }
  .info-bottom {
    @include maxWidth($mobile) {
      margin-bottom: 20px;
    }
    flex-direction: column;
    .text1 {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 32px;
      @include maxWidth($mobile) {
        margin-bottom: 16px;
      }
    }
    .text {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      color: #cecece;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
