.home-vispx {
  background-image: url('../../assets/images/Bg.png');
  background-size: cover;
  .copy-right {
    color: #686873;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding: 40px;
    padding: 40px;
    background: #030407;
  }
}
