@import '../../../../responsive.scss';
@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.slider-custom {
  // background-image: url('./Desktop-BG.png');
  // background-size: cover;
  max-width: 1440px;
  margin: auto;
  @media only screen and (max-width: 1440px) {
    padding: 0 64px;
  }

  @include maxWidth($mobile) {
    padding: 0 12px;
  }

  .layout {
    // margin-top: 10%;
    @media only screen and (max-width: 1680px) {
      margin-top: 5%;
    }
    @media only screen and (max-width: 1600px) {
      margin-top: 3%;
    }
    @media only screen and (max-width: 1440px) {
      margin-top: 2%;
    }
    @include maxWidth($tablet) {
      padding: 0 12px;
    }
  }
  .header {
    padding-top: 32px;
    @include maxWidth($tablet) {
      padding-left: 12px;
    }
  }
  .icon-slider {
    width: 90%;
    align-items: end;
    @include maxWidth($tablet) {
      width: 100%;
      padding: 20px 0px;
    }
    @include maxWidth($mobile) {
      width: 70%;
      padding: 20px;
      margin-top: -20px;
    }
  }
  .wrapper-icon-slider {
    @include maxWidth($mobile) {
      text-align: center;
      padding: 0px;
    }
  }
}

.pop-hover-icon {
  .ant-popover-content {
    .ant-popover-inner {
      border-radius: 8px;
      background: #0f0734;
      box-shadow: 1px 2px 0px -4px #8c34f4;
    }
  }
  .ant-popover-arrow {
    &::before {
      background: #0f0734;
    }
    &::after {
      background: #0f0734;
    }
  }
}
.text-launch-app {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}

.icon-fixed {
  position: fixed;
  right: 8%;
  z-index: 100;
  top: 5%;
  cursor: pointer;
  border-radius: 8px !important;
  span {
    line-height: 20px !important;
  }

  @include maxWidth($mobile) {
    right: 5%;
    top: 2%;
  }
}

.is-static {
  @include maxWidth($mobile) {
    right: 5% !important;
    top: 5% !important;
  }
}

.video-new-slider {
  display: flex;
  video {
    height: unset !important;
    margin: auto;
    border-radius: 30px;
    // box-shadow: 5px 5px 30px 0px #320063;
  }
  @include maxWidth($mobile) {
    margin-top: 20px;
  }
}

// .button-join-revolution {
//   display: flex;
//   width: 100%;
//   justify-content: center;
//   margin-top: 130px;
//   position: relative;
//   .button-launch-pad {
//     position: sticky;
//     @include maxWidth($tablet) {
//       margin-top: 20px;
//     }
//   }
// }
