@import '../../../../responsive.scss';

.slider {
  background-image: url('./Desktop-BG.png');
  // background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  .layout {
    padding: 0 64px;
    @include maxWidth($mobile) {
      padding: 0 12px;
    }
  }
  .header {
    padding-top: 32px;
  }
  .icon-slider {
    width: 90%;
  }
}

.pop-hover-icon {
  .ant-popover-content {
    .ant-popover-inner {
      border-radius: 8px;
      background: #0f0734;
      box-shadow: 1px 2px 0px -4px #8C34F4;
    }
  }
  .ant-popover-arrow {
    &::before {
      background: #0f0734;
    }
    &::after {
      background: #0f0734;
    }
  }
}
.text-launch-app {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: #fff;
}
