@import '../../../../responsive.scss';

.slider {
  background-image: url('./Desktop-BG.png');
  // background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  .layout {
    padding: 0 64px;
    @include maxWidth($mobile) {
     padding: 0 12px;
    }
  }
  .header {
    padding-top: 32px;
  }
  .icon-slider {
    width: 90%;
  }
}
