.FAQ-main {
  padding: 80px 64px;
  padding: 80px 64px;
  .title-section {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    text-align: center;
  }
  .content-section {
  }
}
