@import 'src/assets/scss/responsive-landing.scss';
.participate-main {
  padding: 80px 64px;
  max-width: 1440px;
  margin: auto;
  @include mobileVispx {
    padding: 80px 20px
  }
  .title-section {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    text-align: center;
    margin-bottom: 60px;
  }
  .content-section {
    .right-participate.ant-col {
      display: flex;
      justify-content: center;
      margin: auto !important;
      @include mobileVispx {
        display: none;
      }
    }
  }
}
