.card-project {
  background: #11122e;
  border-radius: 24px;
  margin: 0 12px;
  &:hover {
    border-color: #a84dff;
    border: 1px solid #a84dff;
    box-shadow: 5px 5px 30px 0px #320063;
  }
  .layout-project {
    flex-direction: column;
    // &:hover {
    //   border: 1px solid #a84dff;
    //   box-shadow: 5px 5px 30px 0px #320063;
    // }
    .icon {
      max-height: 164px;
    }
    .content {
      padding: 20px;
      .title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 26px;
        color: #fff;
        margin-right: 12px;
      }
      .description-project {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: #c3c3c3;
        margin-top: 20px;
        display: block;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 8.6em;
        line-height: 1.8em;
      }
      .blc-info {
        margin-top: 30px;
        align-items: center;
        .text {
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          color: #c3c3c3;
        }
        .network-name {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          color: #fff;
          text-transform: uppercase;
        }
        .network-info {
          align-items: center;
        }
      }
      .view-detail {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        color: #fff;
        margin-right: 12px;
      }
    }
  }
}
