@import '../../../../../responsive.scss';

.filter-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 40px;
  @include maxWidth($tablet) {
    margin: 0;
    width: 100%;
    flex-direction: column-reverse;
  }
  span {
    color: #fff;
  }
  .filter-item {
    background: #fff;
    opacity: 60%;
    border-radius: 10px;
    padding: 7px 10px;
    cursor: pointer;
    margin-left: 30px;
    display: flex;
    align-items: center;
    img {
      margin-right: 2px;
      margin-top: 2px;
    }
    .label {
      color: #000;
      line-height: 16px;
      font-size: 18px;
      font-weight: 600;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .active-filter {
    opacity: 1 !important;
  }

  .filter-left {
    display: flex;
    align-items: center;
    @include maxWidth($tablet) {
      width: 100%;
      margin-top: 10px;
      .select-container {
        width: 100% !important;
        color: #000 !important;
        .ant-select {
          width: 100%;
          color: #000 !important;
          .ant-select-selection-item {
            color: #000 !important;
            font-weight: 600;
          }
        }
      }
    }
  }
  .search-right {
    background-color: #fff;
    border-radius: 10px;

    @include maxWidth($tablet) {
      width: 100%;
      height: 48px;
      margin-top: 10px;
      .input-box,
      .input-default {
        height: 100% !important;
      }
    }
  }
}
