@import '../../../../../responsive.scss';

.about-slider {
  max-width: 90%;
  margin-top: 150px;
  min-height: 50vh;
  .title {
    display: flex;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    color: #ffffff;
    padding-right: 30px;
    .relative {
      position: relative;
      margin-left: 10px;
    }
    .underline-custom {
      position: absolute;
      width: 100%;
      bottom: 12px;
      height: 10px;
      background-image: linear-gradient(90deg, #ef40ea 0%, #12def6 100%);
      border-radius: 2px;
      opacity: 0.6;
    }
  }
  .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #c3c3c3;
    margin-top: 32px;
  }

  .information {
    margin-top: 32px;
    .block {
      padding-top: 11px;
      width: 100%;
      flex-direction: column;
      background-image: url('./frame-tab-banner.svg');
      background-repeat: no-repeat;
      background-size: cover;
      .text1 {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: #ffffff;
        text-align: center;
        @include maxWidth($tablet) {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .text2 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #cecece;
        text-align: center;
        @include maxWidth($tablet) {
          font-size: 12px;
        }
      }
    }
  }
  @include maxWidth($tablet) {
    max-width: 100%;
    margin-top: 20px;
    .title {
      justify-content: center;
      font-size: 40px;
    }
  }
}
