@import 'src/assets/scss/responsive.scss';
@import 'src/assets/scss/_colors.scss';
@import 'src/assets/scss/variable.scss';

.button-explore {
  margin-top: 32px;
  display: flex;
  &:hover {
    -webkit-transform: translateY(0px);
    transform: translateY(-2px);
  }
}
.button-explore {
  background-color: #0f0734 !important;
  box-shadow: 2px 3px #8c34f4 !important;
  &:hover {
    color: var(--btn-contained-text-color, $color-neutral-white) !important;
    top: 4.8%;
  }

  // @include maxWidth($tablet) {
  //   margin-top: 20px;
  // }
}
